=search-input-placeholder($searchColor)
    &::-webkit-input-placeholder
        color: hsla(189, 15%, 74%, 0.84)
        opacity: 0.7
    &::-moz-placeholder
        color: hsla(189, 15%, 74%, 0.84)
        opacity: 0.7
    &::-ms-input-placeholder
        color: hsla(189, 15%, 74%, 0.84)
        opacity: 0.7
