.wrapper
    .container
        .sidebar-left
            .navigation
                .navigation-link
                    a.feed-link(href='#')
                        img(src='/static/images/feed.png')
                    p.navigation-text Feed
                .navigation-link
                    a.ask-link(href='#')
                        img(src='/static/images/ask.png')
                    p.navigation-text Ask a Colleague
                .navigation-link
                    a.companies-link(href='#')
                        img(src='/static/images/companies.png')
                    p.navigation-text Service
                .navigation-link
                    a.services-link(href='#')
                        img(src='/static/images/services.png')
                    p.navigation-text Service Directory
