.wrapper
    .container
        .sidebar-left
            .navigation
                .navigation-links
                    .navigation-link-img
                        a(href='#')
                            img(src='/static/images/feed.png')
                    a.navigation-link.active-link(href='#') Feed
                .navigation-links
                    .navigation-link-img
                        a(href='#')
                            img(src='/static/images/ask.png')
                    a.navigation-link.active-link(href='#') Ask a Colleague
                .navigation-links
                    .navigation-link-img
                        a(href='#')
                            img(src='/static/images/companies.png')
                    a.navigation-link.active-link(href='#') Service
                .navigation-links
                    .navigation-link-img
                        a(href='#')
                            img(src='/static/images/services.png')
                    a.navigation-link.active-link(href='#') Service Directory
            .advertisement
                .adv-header.adv-bottom Advertisement
                img(src='static/images/three-stars.png')
                a.adv-link(href='#') As By Dentiz.com
            .featured-companies
                .featured-companies-head
                    .head-block Featured companies
                        a.all-link.active-link(href='#') See All
                .companies
                    .company.manufacturer
                    .name
                        a.name.active-link(href='#') Company Name
                    .comp-name Manufacturer
                    .location Belgrade, Serbia
                    a.follow.active-link(href='#') Follow Now
                .companies
                    .company.service-provider
                    .name
                        a.name.active-link(href='#') Company Name
                    .comp-name Service Provider
                    .location New York, USA
                    a.follow.active-link(href='#') Follow Now
                .companies
                    .company.supplier
                    .name
                        a.name.active-link(href='#') Company Name
                    .comp-name Supplier
                    .location London, England
                    a.follow.active-link(href='#') Follow Now
            .comp-links
                .comp-link
                    p.adv-link Denteez Copyright 2015
                .comp-link
                    a.adv-link.active-link(href='#') Terms of use
                    a.adv-link.policy-link.active-link(href='#') Privacy Policy
        .category(ng-controller='serviceDirectoryCtrl')
            h1 Service Directory
            button.new-service-btn Add New Service
            ul.services
                li.icon-block(ng-repeat='service in services')
                    a.service-link(href='#')
                        .icon
                            img.icon-img(ng-src='{{ service.icon }}')
                        span.service-name(ng-bind='service.title')
            #openModal.modalDialog
                div
                    a.close(href='#close', title='Close') X
                    h2.error Error: {{ error.status }}
                    p.error-mes {{ error.description }}
        .sidebar-right
            .dentists
                .head-block People you may know
                    a.all-link.active-link(href='#') See All
                .people
                    .people-mb
                        a.active-link.name(href='#') Dennis Adams
                    .people-img
                        img.dentist-photo(src='/static/images/adams.png')
                    .dentests-info
                        .comp-name.people-mb Dentist (Fractice Owner)
                        .location.people-mb London, England
                        a.follow.active-link(href='#') Add Frienc
                .people
                    .people-mb
                        a.active-link.name(href='#') Mary Carpenter
                    .people-img
                        img.dentist-photo(src='/static/images/carpenter.png')
                    .dentests-info
                        .comp-name.people-mb Dentist (Fractice Owner)
                        .location.people-mb Belgrade, Serbia
                        a.follow.active-link(href='#') Add Frienc
                .people
                    .people-mb
                        a.active-link.name(href='#') Danielle Salazar
                    .people-img
                        img.dentist-photo(src='/static/images/salazar.png')
                    .dentests-info
                        .comp-name.people-mb Dentist (Fractice Owner)
                        .location.people-mb Paris, France
                        a.follow.active-link(href='#') Add Frien
            .products
                .head-block Featured Products
                    a.all-link.active-link(href='#') See All
                .product
                    .people-mb
                        a.active-link.name(href='#') Product Name
                    .product-img.product-first
                    .product-info-block
                        .product-info Product Short Description.
                        .product-info The quick brown fox jumps over the laze dcg.
                .product
                    .people-mb
                        a.active-link.name(href='#') Product Name
                    .product-img.product-second
                    .product-info-block
                        .product-info Product Short Description.
                        .product-info The quick brown fox jumps over the laze dcg.
            .advertisement
                .adv-header Advertisement
                img(src='static/images/coll.png')
                a.adv-link.active-link(href='#') As By Dentiz.com
