.wrapper
    .container
        .sidebar-left
            .navigation
                .navigation-link
                    a.feed-link(href='#')
                        img(src='/static/images/feed.png')
                    p.navigation-text Feed
                .navigation-link
                    a.ask-link(href='#')
                        img(src='/static/images/ask.png')
                    p.navigation-text Ask a Colleague
                .navigation-link
                    a.companies-link(href='#')
                        img(src='/static/images/companies.png')
                    p.navigation-text Service
                .navigation-link
                    a.services-link(href='#')
                        img(src='/static/images/services.png')
                    p.navigation-text Service Directory
            .advertisement
                p Advertisement
                img(src='static/images/three-stars.png')
                a(href='#') As By Dentiz.com
            .featured-companies
                .featured-companies-head
                    p.head-block Featured companies
                        a.all-link(href='#') See All
                .companies
                    .manufacturer
                    p.name Company Name
                    p.comp-name Manufacturer
                    p.location Belgrade, Serbia
                    a.follow(href='#') Follow Now
                .companies
                    .service-provider
                    p.name Company Name
                    p.comp-name Service Provider
                    p.location New York, USA
                    a.follow(href='#') Follow Now
                .companies
                    .supplier
                    p.name Company Name
                    p.comp-name Supplier
                    p.location London, England
                    a.follow(href='#') Follow Now
            .featured-companies-links
                div
                    a(href='#') Denteez Copyright 2015
                div
                    a(href='#') Terms of use
                    a.policy-link(href='#') Privacy Policy
        .category(ng-controller='serviceDirectoryCtrl')
            h1 Service Directory
            button.new-service-btn Add New Service
            ul.services
                li.icon-block(ng-repeat='service in services')
                    a.service-link(href='#')
                        .icon
                            img(ng-src='{{ service.src }}')
                        span.service-name(ng-bind='service.name')
        .sidebar-right
            .dentists
                p.head-block People you may know
                    a.all-link(href='#') See All
                .people
                    p.name Dennis Adams
                    .people-img
                        img.dentist-photo(src='/static/images/adams.png')
                    .dentests-info
                        p.comp-name Dentist (Fractice Owner)
                        p.location London, England
                        a.follow(href='#') Add Frienc
                .people
                    p.name Mary Carpenter
                    .people-img
                        img.dentist-photo(src='/static/images/carpenter.png')
                    .dentests-info
                        p.comp-name Dentist (Fractice Owner)
                        p.location Belgrade, Serbia
                        a.follow(href='#') Add Frienc
                .people
                    p.name Danielle Salazar
                    .people-img
                        img.dentist-photo(src='/static/images/salazar.png')
                    .dentests-info
                        p.comp-name Dentist (Fractice Owner)
                        p.location Paris, France
                        a.follow(href='#') Add Frien
            .products
                p.head-block Featured Products
                    a.all-link(href='#') See All
                .product
                    p.name Product Name
                    .product-img.product-first
                    .product-info-block
                        p.product-info Product Short Description.
                        p.product-info The quick brown fox jumps over the laze dcg.
                .product
                    p.name Product Name
                    .product-img.product-second
                    .product-info-block
                        p.product-info Product Short Description.
                        p.product-info The quick brown fox jumps over the laze dcg.
            .advertisement
                p Advertisement
                img(src='static/images/coll.png')
                a(href='#') As By Dentiz.com
