doctype html
html(lang='en' ng-app='ServiceDirectoryModule')
    head
        title Denteez
        link(rel='stylesheet', href='/static/stylesheets/style.css')

    body
        include ./navbar.jade
        script(src='/static/javascripts/index.js')
