doctype html
html(lang='en' ng-app='ServiceDirectoryModule')
    head
        title New
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/stylesheets/style.css')

    body

        script(src='/static/javascripts/index.js')
