doctype html
html(lang='en' ng-app='ServiceDirectoryModule')
    head
        title Denteez
        base(href="/")
        link(rel='stylesheet', href='/static/stylesheets/style.css')

    body

        ng-view

        script(src='/static/javascripts/app.js')
