
header.page-header
    .container-header
        .logo
            a(href='#')
                img(src='/static/images/logo.png')
        .search-block
            .search
                form.fsearch
                    input.search-btn(type='button')
                    input.search-txt(type='text', placeholder='Company Name')
            a.chat-link(href='#')
                img(src='/static/images/chat.png')
            a.notifications-link(href='#')
                img(src='/static/images/notifications.png')
            a.settings-link(href='#')
                img(src='/static/images/settings.png')
        .users(ng-controller='getUserCtrl')
            .user-img
                img(src='{{ getUser.photo }}')
            select.selected-user(ng-model='getUser', ng-options='user.name for user in users')
