
header.page-header
    .container-header
        .logo
            a.logo-link(href='#')
                img(src='/static/images/logo.png')
        .search-block
            .search
                form.fsearch
                    input.search-btn(type='button')
                    input.search-txt(type='text', placeholder='Company Name')
            a.navbar-links.chat(href='#')
            a.navbar-links.notif(href='#')
            a.navbar-links.settings(href='#')
        .users(ng-controller='getUserCtrl')
            .user-img-b
                a.user-img-link(href='#')
                    img.user-img(ng-src='{{ getUser.photo }}')
            .user-txt-b
                a.user-txt-link(href='#', ng-bind='getUser.name')
