.sidebar-left
    .navigation
        .navigation-links
            .navigation-link-img
                a(href='#')
                    img(src='/static/images/feed.png')
            a.navigation-link.active-link(href='#') Feed
        .navigation-links
            .navigation-link-img
                a(href='#')
                    img(src='/static/images/ask.png')
            a.navigation-link.active-link(href='#') Ask a Colleague
        .navigation-links
            .navigation-link-img
                a(href='#')
                    img(src='/static/images/companies.png')
            a.navigation-link.active-link(href='#') Service
        .navigation-links
            .navigation-link-img
                a(href='#')
                    img(src='/static/images/services.png')
            a.navigation-link.active-link(href='#') Service Directory
    .advertisement.advertisement-left
        .advertisement-header.advertisement-bottom Advertisement
        img(src='static/images/three-stars.png')
        a.advertisement-link(href='#') As By Dentiz.com
    .featured-companies
        .featured-companies-head
            .head-block Featured companies
                a.all-link.active-link(href='#') See All
        .companies
            .company.manufacturer
            .name
                a.name.active-link(href='#') Company Name
            .company-name Manufacturer
            .location Belgrade, Serbia
            a.follow.active-link(href='#') Follow Now
        .companies
            .company.service-provider
            .name
                a.name.active-link(href='#') Company Name
            .company-name Service Provider
            .location New York, USA
            a.follow.active-link(href='#') Follow Now
        .companies
            .company.supplier
            .name
                a.name.active-link(href='#') Company Name
            .company-name Supplier
            .location London, England
            a.follow.active-link(href='#') Follow Now
    .company-links
        .company-link
            p.advertisement-link Denteez Copyright 2015
        .company-link
            a.advertisement-link.active-link(href='#') Terms of use
            a.advertisement-link.policy-link.active-link(href='#') Privacy Policy
