.sidebar-right
    .dentists
        .head-block People you may know
            a.all-link.active-link(href='#') See All
        .people
            .people-mb
                a.active-link.name(href='#') Dennis Adams
            .people-img
                img.dentist-photo(src='/static/images/adams.png')
            .dentests-info
                .comp-name.people-mb Dentist (Practice Owner)
                .location.people-mb London, England
                a.follow.active-link(href='#') Add Frienc
        .people
            .people-mb
                a.active-link.name(href='#') Mary Carpenter
            .people-img
                img.dentist-photo(src='/static/images/carpenter.png')
            .dentests-info
                .comp-name.people-mb Dentist (Practice Owner)
                .location.people-mb Belgrade, Serbia
                a.follow.active-link(href='#') Add Frienc
        .people
            .people-mb
                a.active-link.name(href='#') Danielle Salazar
            .people-img
                img.dentist-photo(src='/static/images/salazar.png')
            .dentests-info
                .comp-name.people-mb Dentist (Practice Owner)
                .location.people-mb Paris, France
                a.follow.active-link(href='#') Add Frien
    .products
        .head-block Featured Products
            a.all-link.active-link(href='#') See All
        .product
            .people-mb
                a.active-link.name(href='#') Product Name
            .product-img.product-first
            .product-info-block
                .product-info Product Short Description.
                .product-info The quick brown fox jumps over the laze dcg.
        .product
            .people-mb
                a.active-link.name(href='#') Product Name
            .product-img.product-second
            .product-info-block
                .product-info Product Short Description.
                .product-info The quick brown fox jumps over the laze dcg.
    .advertisement
        .advertisement-header Advertisement
        img(src='static/images/coll.png')
        a.advertisement-link.active-link(href='#') As By Dentiz.com
